
main {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 77px);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-item {
  text-align: left;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.footer-container {
  width: 100%;
  bottom: 0;
}

.header-content {
  position: sticky;
  z-index: 10;
  top: 0;
}