.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #BE9E44;
  position: sticky;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  box-sizing: border-box;
}


.button-options {
  grid-column: 13 / 16;
  display: flex;
  gap: 10px;
  justify-content: center;

}

.logo-app {
  width: 12rem;
  cursor: pointer;
}

.button {
  width: 110px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #252525;
  color: white;

}

.close-session-text {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.burger-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
}


.avatar {
  padding: 20px;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.admin-boton{

  width: 110px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #252525;
  color: white;
  


}

.bookings-boton{

  width: 110px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #252525;
  color: white;

}

.session-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
 @media (max-width: 580px) {
  .button-options {
    display: none;
  }

  .burger-icon {
    display: flex;
  }
}